body {
    background: #faf6e7;
    margin: 0rem auto;
    font-family: "Poppins", sans-serif;
    cursor: crosshair;
  }

  select {
    appearance: none;
    max-width: 40%;
    color: cornflowerblue;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
 }

  header {
    position: fixed;
    width: 100%;
    border-bottom: 5px solid #FFFFFF;
    border-top: 5px solid #FFFFFF;
    background: #AFE4F4;
    border-radius: 15pt;
    max-height: 100px;
  }
  
  nav {
    position: fixed;
    width: 100%;
    top: 105px;
    background: #AFE4F4;
      border-bottom: 5px solid #FFFFFF;
      border-top: 5px solid #FFFFFF;
      font-family: Kosugi;
      max-height: 50px;
      border-radius: 15px;
      font-size: 25px;
  }

  nav > ol {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
  }

  .nav-btn {
    list-style: none;
    margin: 0 1em;
    display: inline-flex;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;
  }

  a:link {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }

  a:visited {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }

  a:hover {
    text-decoration: none;
    color: #A8DEB1;
    font-weight: 600;
  }

  #nomorenahs {
    max-height: 100px;
  }

  #logo {
    max-height: 100px;
  }

  #logo:hover {
    animation: spin 3s linear infinite;
  }

  #slogan {
    font-family: Poppins;
    color: white;
    font-weight: 200;
    font-style: italic;
    display: block;
    float: right;
    padding: 5px;
  }

  #kawaii {
    text-align: center;
  }

  .lunch {
    max-height: 65px;
  }

  .tool {
    height: 45px;
  }

  .main {
    margin-top: 10%;
    padding: 10px;
    max-height: 350px;
    margin-right: 25px;
    display: block;
  }

  #bulk {
    display: block;
    justify-content: center;
    text-align: center;
  }

  .results {
    display: block;
    justify-content: bottom;
    text-align: center;
  }

  #beginning {
    border-radius: 15px;
    width: 40%;
    height: 350px;
    margin: 20px;
    padding: 20px;
    float: left;
    display: block;
    justify-content: center;
    text-align: center;
  }

  #end {
    background-color: white;
    border-radius: 15px;
    width: 40%;
    height: 350px;
    margin: 20px;
    padding: 20px;
    float: right;
    display: block;
    flex-wrap: wrap;
  }

  button {
    background-color: #AFE4F4;
    color: white;
    border: 1px solid #FFFFFF;
    padding: 7px;
    margin: 2px;
    border-radius: 5pt;
  }

  #delete {
    background-color: #ff5860;
  }

  #filters {
    height: 20pt;
  }

  .content {
    text-align: center;
  }

  h1 {
    font-family: Poppins;
    font-weight: lighter;
    color: #A8DEB1;
  }
  
  h2 {
    font-family: Kosugi;
  }

  .bear {
    max-height: 50px;
  }

  #dizzy {
    padding-top: 32px;
  }

  #about-me {
    margin-top: 12%;
    background-color: white;
    border-radius: 15pt;
    padding: 15px;
    max-width: 50%;
    display: inline-block;
    justify-content: center;
    text-align: left;
    vertical-align:top;
  }

  #about-me > a:link {
    text-decoration: none;
    color: #AFE4F4;
    font-weight: 600;
  }

  #about-me > a:visited {
    text-decoration: none;
    color: #AFE4F4;
    font-weight: 600;
  }

  #about-me > a:hover {
    text-decoration: none;
    color: #A8DEB1;
    font-weight: 600;
  }

  #restaurants {
    margin-top: 12%;
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
  }

  .restaurant {
    margin: 5px;
    background-color: white;
    border-radius: 15pt;
    padding: 15px;
    width: 20%;
    display: inline-block;
    justify-content: center;
    text-align: left;
    vertical-align:top;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15px;
    font-size: 6px;
    display: flex;
    justify-content: right;
  }


/* ALL BELOW IS TO STYLE THE MODAL!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! edited from w3 */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border-radius: 15pt;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 45%; 
}

/* The Close Button */
.close {
  color: #A8DEB1;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* loader */
.loader {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 3s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border-top: 16px solid #AFE4F4;
  border-right: 16px solid #A8DEB1;
  border-bottom: 16px solid #faf6e7;
  border-left: 16px solid pink;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
@keyframes spin {
  0% {
    display: block;
    opacity: 100;
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  99% {
    opacity: 100;
    transform: rotate(360deg);
  }
  100% {
    display: none;
    opacity: 0;
    transform: rotate(360deg);
  }
}

/* end of modal styling */